
%head
	%meta{charset: 'utf-8'}
	%h1.title Student Dashboard

.profile
	.row
		.medium-4.columns 
			%ul.small-block-grid-2
				%li
					= image_tag('profile.png', class: "icon")
				%li 
					Lisa Wang 
					%br
					Harvard
					%br
					Class of 2016
			%a.button.expand{:href => "#"} Edit
			%ul.small-block-grid-4
				%li
					= image_tag('Linkedin2.png', class: "social")
				%li
					= image_tag('Linkedin2.png', class: "social")
				%li
					= image_tag('Linkedin2.png', class: "social")
				%li
					%a.button.small{:class => "tiny", :href => "#"} Edit
			%a.button.expand{:href => "#"} Recently Viewed Companies

		.medium-8.columns 
			%h4
				My Resumes
			%ul.small-block-grid-3
				%li
					= image_tag('profile.png', class: "icon")
				%li
					= image_tag('profile.png', class: "icon")
				%li
					= image_tag('profile.png', class: "icon")
			%a.button.expand{:href => "#"} + Upload a New Resume
			%h4
				My Reviews
			%a.button.expand{:href => "#"} + Add a New Review
			%a.button.expand{:href => "#"} View All Companies Reviews
			





.register
	.row
		.medium-12.columns
			%h1
				Join Us
	%form{"name"  => "emailSignUp"}
		%ul.small-block-grid-1
		.row
			.medium-5.columns
				%input.email{"type" => "email", "name" => "email", "placeholder" => "Email Address"}
		.row
			.medium-5.columns
				%input.password{"type" => "password", "name" => "password", "placeholder" => "Password"}
				%a.button{:href => "#"} Sign Up
		.row
			%h4
				Already have an account? Login here.


