.footer
  .row
    .medium-12.columns
      %h4.footerLabel
        2014 PINPEG
      / %h4.footerLabel{:style => "width: 100%; text-align: center"}
      /   All the usual footer links currently under construction. 
      %ul.small-block-grid-1 
        %li
          %a{href: "/about_us"} About Us
        %li
          %a{href: "#"} For Students
        %li
          %a{href: "#"} For Companies
        %li
          %a{href: "#"} Terms of Use
        %li
          %a{href: "#"} Privacy Policy
    .medium-3.columns
      %h4.footerLabel
        Contact Us
      %ul.small-block-grid-4
        %li.footer
          = image_tag('twitter3.png', class: "social")
        %li.footer
          = image_tag('facebook3.png', class: "social")
        %li.footer
          = image_tag('linkedin.png', class: "social")
        %li.footer
          = image_tag('google+.png', class: "social")

= render partial: "shared/google_analytics"
