= stylesheet_link_tag "student/review"

.row
	.medium-12.columns
		%h1
			Review Your Internship
.row
	= form_for :reviews, :html => { :id => 'review-form' } do |f|
		.medium-12.columns
			%h3
				First, some general info dear friend:
			.row
				.medium-6.columns
					= f.text_field :first_name, :placeholder => "First Name", :required => true
				.medium-6.columns
					= f.text_field :last_name, :placeholder => "Last Name", :required => true
			.row
				.medium-6.columns
					= f.text_field :email, :placeholder => "Email Address", :required => true
				.medium-6.columns
					= f.text_field :position_title, :placeholder => "Position Title"
			.row
				.medium-6.columns
					= f.text_field :company, :placeholder => "Company Name", :required => true
				.medium-3.columns
					= f.select :season, options_for_select([['Summer', 'summer'],['Winter', 'winter']]), :required => true
				.medium-3.columns
					= f.select :year, options_for_select([[2014],[2013], [2012],[2011],[2010]]), :required => true
			%h3
				Now, about that internship...
			.row
				.medium-6.columns
					= f.select :net_promoter, options_for_select([["Yes", 1],["No", 0]]), { :include_blank => 'Would you recommend it to a friend?' }, :required => true
			.row
				.medium-6.columns
					= f.select :hours, options_for_select([["Not much, could've come and gone as I pleased", "small"],["Standard. Ya know, the usual 9-5."],["Not bad. Had to stay late sometimes, but it was chill.", "medium"],["Brutal. I don't remember what sleep is anymore.", "large"]]), { :include_blank => 'What were the hours expected of you?' }, :required => true
				.medium-3.columns
					= f.number_field :number_interns, :placeholder => "Number of Interns", :min => "1", :required => true
				.medium-3.columns
					= f.text_field :salary, :placeholder => "Salary / Month (optional)"
			.row
				.medium-6.columns
					= f.text_area :mentorship, :placeholder => "How was the mentorship?", :rows => "4", :required => true
				.medium-6.columns
					= f.text_area :projects, :placeholder => "What kinds of projects did you work on?", :rows => "4", :required => true			
			%h3
				Express your love or hate
			.row	
				.medium-12.columns
					= f.text_area :end, :placeholder => "Tell the world anything else notable about your internship (e.g. company culture, interview process, explain your recommendation, there was an elephant sitting in the snack room at all times etc.,). ", :rows => "4", :required => true
		.medium-2.columns.sendemail
			%span
				%div.button.postfix.send
					= f.submit "Submit"			
