= stylesheet_link_tag "student/review"

.row
	.medium-12.columns
		%h1
			Review Your Internship
.row
	= form_for(:reviews) do |f|
		.medium-12.columns
			%h3
				First, some general info, good sir/madam. 
			.row
				.medium-6.columns
					= f.text_field :first_name, :placeholder => "First Name"
				.medium-6.columns
					= f.text_field :last_name, :placeholder => "Last Name"
			.row
				.medium-6.columns
					= f.text_field :email, :placeholder => "Email Address"
				.medium-6.columns
					= f.text_field :position_title, :placeholder => "Position Title"
			.row
				.medium-6.columns
					= f.text_field :company, :placeholder => "Company Name"
				.medium-3.columns
					= f.select :season, options_for_select([['Summer', 'summer'],['Winter', 'winter']])
				.medium-3.columns
					= f.select :year, options_for_select([[2014],[2013], [2012],[2011],[2010]])
			.row
				.medium-6.columns
					= f.select :net_promoter, options_for_select([['Would You Recommend this Internship?',nil],["Yes", 1],["No", 0]])
			%h3
				Now, about that internship...
			.row
				.medium-6.columns
					= f.select :hours, options_for_select([['How were the hours?',nil],["Dude, I worked whenever I wanted."],["Reasonable. Ya know, the usual 9-5."],["Not bad. Stayed late sometimes, but it was chill."],["Brutal. I don't remember what sleep is anymore."]])
				.medium-3.columns
					= f.number_field :number_interns, :placeholder => "Number of Interns"
				.medium-3.columns
					= f.text_field :salary, :placeholder => "Salary (optional)"
			.row
				.medium-6.columns
					= f.text_area :mentorship, :placeholder => "How was the mentorship at your internship?", :rows => "4"
				
			%h3
				Time to Reflect
			.row
				.medium-6.columns
					= f.text_area :projects, :placeholder => "Describe what kinds of project you worked on during your internship. The more detailed you can be, the better!", :rows => "4"
			%h3
				How 'bout them interviews?
			%h5
				First Interview
			.row.type
				.medium-3.columns
					= f.radio_button :first_type, 'Quantitative', :value => "quantitative", :id => "firstq"
					%label{"for" => "firstq"}
						Quantitative 
					= f.radio_button :first_type, 'Fit', :value => "fit", :id => "firstf"
					%label{"for" => "firstf"}
						Fit
			.row
				.medium-6.columns
					= f.text_area :first_questions, :placeholder => "What kind of questions were asked? ex. Fermi Estimation, Algorithmic, Personality", :rows => "4"
				.medium-6.columns
					= f.text_area :first_difficulty, :placeholder => "How difficult was the interview?", :rows =>"4"
			.second		
				%h5
					Second Interview
				.row.type
					.medium-3.columns
						= f.radio_button :second_type, 'Quantitative', :value => "quantitative", :id => "secondq"
						%label{"for" => "secondq"}
							Quantitative 
						= f.radio_button :second_type, 'Fit', :value => "fit", :id => "secondf"
						%label{"for" => "secondf"}
							Fit
				.row
					.medium-6.columns
						= f.text_area :second_questions, :placeholder => "What kind of questions were asked? ex. Fermi Estimation, Algorithmic, Personality", :rows => "4"
					.medium-6.columns
						= f.text_area :second_difficulty, :placeholder => "How difficult was the interview?", :rows =>"4"
			.third		
				%h5
					Third Interview
				.row.type
					.medium-3.columns
						= f.radio_button :third_type, 'Quantitative', :value => "quantitative", :id => "thirdq"
						%label{"for" => "thirdq"}
							Quantitative 
						= f.radio_button :third_type, 'Fit', :value => "fit", :id => "thirdf"
						%label{"for" => "thirdf"}
							Fit
				.row
					.medium-6.columns
						= f.text_area :third_questions, :placeholder => "What kind of questions were asked? ex. Fermi Estimation, Algorithmic, Personality", :rows => "4"
					.medium-6.columns
						= f.text_area :third_difficulty, :placeholder => "How difficult was the interview?", :rows =>"4"
			.fourth	
				%h5
					Fourth Interview
				.row.type
					.medium-3.columns
						= f.radio_button :fourth_type, 'Quantitative', :value => "quantitative", :id => "fourthq"
						%label{"for" => "fourthq"}
							Quantitative 
						= f.radio_button :fourth_type, 'Fit', :value => "fit", :id => "fourthf"
						%label{"for" => "fourthf"}
							Fit
				.row
					.medium-6.columns
						= f.text_area :fourth_questions, :placeholder => "What kind of questions were asked? ex. Fermi Estimation, Algorithmic, Personality", :rows => "4"
					.medium-6.columns
						= f.text_area :fourth_difficulty, :placeholder => "How difficult was the interview?", :rows =>"4"	
			.fifth	
				%h5
					Fifth Interview
				.row.type
					.medium-3.columns
						= f.radio_button :fifth_type, 'Quantitative', :value => "quantitative", :id => "fifthq"
						%label{"for" => "fifthq"}
							Quantitative 
						= f.radio_button :fifth_type, 'Fit', :value => "fit", :id => "fifthf"
						%label{"for" => "fifthf"}
							Fit
				.row
					.medium-6.columns
						= f.text_area :fifth_questions, :placeholder => "What kind of questions were asked? ex. Fermi Estimation, Algorithmic, Personality", :rows => "4"
					.medium-6.columns
						= f.text_area :fifth_difficulty, :placeholder => "How difficult was the interview?", :rows =>"4"	
			.rant
				%h5
					Brutal. Please rant here on your ridiculous number of interviews. 
					= f.text_area :rant
			.row
				.medium-6.columns
					%div.button.postfix.send.add
						+ Add an Interview
				.medium-6.columns
					%div.button.postfix.send.remove
						Remove an Interview
				.medium-6.columns
					%div.button.postfix.send.removerant

						Remove Rant

			%h3
				Now, about that internship...
			.row
				.medium-3.columns
					= f.select :net_promoter, options_for_select([['Would You Recommend the Internship?',nil],[0],[1]])
				.medium-3.columns
					= f.number_field :number_interns, :placeholder => "Number of Interns"
				.medium-3.columns
					= f.select :start_time, options_for_select([['Day starts at',nil],["04:00 AM", 4], ["04:30 AM", 4.5],["05:00 AM", 5],["05:30 AM", 5.5],["06:00 AM", 6],["06:30 AM", 6.5], ["07:00 AM", 7], ["07:30 AM", 7.5],["08:00 AM", 8], ["08:30 AM", 8.5], ["09:00 AM", 9], ["09:30 AM", 9.5], ["10:00 AM", 10],["10:30 AM", 10.5], ["11:00 AM", 11], ["11:30 AM", 11.5], ["All day, err day", 12], ["Flexible",13]])
				.medium-3.columns
					= f.select :end_time, options_for_select([['Day ends at',nil],["04:00 PM", 4], ["04:30 PM", 4.5],["05:00 PM", 5],["05:30 PM", 5.5],["06:00 PM", 6],["06:30 PM", 6.5], ["07:00 PM", 7], ["07:30 PM", 7.5],["08:00 PM", 8], ["08:30 PM", 8.5], ["09:00 PM", 9], ["09:30 PM", 9.5], ["10:00 PM", 10],["10:30 PM", 10.5], ["11:00 PM", 11], ["11:30 PM", 11.5], ["All day, err day", 12], ["Flexible",13]])
			.row
				.medium-3.columns
					= f.text_field :salary, :placeholder => "Salary (optional)"
				.medium-3.columns
					= f.text_field :managers, :placeholder => "Number of Managers"
			%h3
				Time to Reflect
			.row
				.medium-6.columns
					
		.medium-2.columns.sendemail
			%span
				%div.button.postfix.send
					= f.submit "Submit"

			
