.row.join
  %h1.head
    Change Password

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    
    %div
      = f.label :current_password
      = f.password_field :current_password, autocomplete: "off", autofocus: true

    %div
      = f.label :password
      = f.password_field :password, autocomplete: "off"
    
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"

    .end
      %div.button.postfix
        = f.submit "Update"
  
