.row.join
  .medium-12.medium-centered
    %h1.head Join Us

.row.join
  .subs
    Already have an account?
    = link_to "Login here.", new_session_path(resource_name)
.row.join
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    %div
      = f.label :email, 'Student Email Address (.edu)'
      = f.email_field :email, :value => params[:email], autofocus: true

    %div
      = f.label :password
      = f.password_field :password, autocomplete: "off", :value => params[:password]

    %div
      = f.label :password_confirmation, 'Confirm'
      = f.password_field :password_confirmation, autocomplete: "off"

    %div.fullname
      = f.label :first_name
      = f.text_field :first_name

    %div.fullname
      = f.label :last_name
      = f.text_field :last_name

    %div
      / = f.label :school_id
      / = f.text_field :school_id # will need some work here with auto-completes + limited inputs

    %div
      = f.label :graduation_year
      = f.select :graduation_year, [2015, 2016, 2017, 2018]

    .end
      %div.button.postfix
        = f.submit "Send Confirmation Email"
