!!!
%html{lang: "en"}
  %head
  %body
    %h1
      Contact Us Email

    %div
      You just received an email from:
      = @email

    %h2 
      Recruiter Name:
      = @firstName 
      = @lastName

    %h2
      Company Name
      = @cName

    %h2
      Company URL
      = @cURL
