= # need to make own sass file for this
= stylesheet_link_tag "student/register"

.row.join
  .medium-12.medium-centered
    %h1.head Login

.row.join
  %p
    Company? 
    %a Click Here.

.row.join
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %div
      = f.label :email, 'Email Address'
      %br
      = f.email_field :email, autofocus: true, placeholder: 'Text input'
    %div
      = f.label :password, 'Password'
      %br
      = f.password_field :password, autocomplete: "off", placeholder: 'Text input'

    %br
    %div
      = link_to 'Forgot password?', new_password_path(resource_name)
      = f.submit 'Login'
    %br

    %div
      Don't have an account?
      = link_to "Register here.", new_registration_path(resource_name)
