= # need to make own sass file for this
%link{href: "/assets/mobile.sass", media: "screen and (max-device-width: 700px)", rel: "stylesheet"}

.row.join
  .medium-12.medium-centered
    %h1.head Login

.row.join
  .subs
    Are you a recruiter?
    %a
      Click Here.

.row.join
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %div
      = f.label :email, 'Email Address'
      = f.email_field :email, autofocus: true, placeholder: 'Text Input'
    %div
      = f.label :password, 'Password'
      = f.password_field :password, autocomplete: "off", placeholder: 'Text input'

    %div
      .endLogin
        %div.button.postfix
          = f.submit "Login"
      .register
        = link_to "New? Create an account here.", new_registration_path(resource_name)
        %br
        %br
        = link_to 'Forgot password?', new_password_path(resource_name)

    %br
    %br
    %br
