
/ %head
/ 	%meta{charset: 'utf-8'}
/ 	%h1.title Student Dashboard

.profile
	.row
		.medium-4.columns 
			%ul.small-block-grid-2{style: "background-color: #fff"}
				%li
					= image_tag('profile.png', class: "icon")
				%li 
					Lisa Wang 
					%br
					Harvard
					%br
					Class of 2016
				%a.button.expand.sd{:href => "#"} Edit
			%ul.small-block-grid-4
				%li
					= image_tag('Linkedin2.png', class: "contact")
				%li
					= image_tag('Linkedin2.png', class: "contact")
				%li
					= image_tag('Linkedin2.png', class: "contact")
				%li
					%a.button.small.sd{:class => "tiny", :href => "#"} Edit
			%ul.small-block-grid-1{style: "background-color: #fff"}
				%li
					%h4 Recently Viewed Companies


		.medium-8.columns
			%ul.small-block-grid-3{style: "background-color: #fff"} 
				%li
					%h4 My Resumes
				%li
				%li
				%li
					= image_tag('profile.png', class: "icon")
				%li
					= image_tag('profile.png', class: "icon")
				%li
					= image_tag('profile.png', class: "icon")
			%a.button.expand.sd{:href => "#"} + Upload a New Resume
			%ul.small-block-grid-3
				%li
				%li
				%li
			%ul.small-block-grid-2{style: "background-color: #fff"} 
				%li
					%h4 My Reviews
				%li
				%li
					= image_tag('company.png', class: "company")
				%li
					%input#checkbox1{:type => "checkbox"}
						%label{:for => "checkbox1"} Available to Private Message
					%a.button.small.sd{:href => "#"} View/Edit Review
			%a.button.expand.sd{:href => "#"} + Add a New Review
			%ul.small-block-grid-3
				%li
				%li
				%li
			%a.button.expand{:href => "#"} View All Companies Reviews
				





.register
	.row
		.medium-12.columns
			%h1
				Join Us
	%form{"name"  => "emailSignUp"}
		%ul.small-block-grid-1
		.row
			.medium-5.columns
				%input.email{"type" => "email", "name" => "email", "placeholder" => "Email Address"}
		.row
			.medium-5.columns
				%input.password{"type" => "password", "name" => "password", "placeholder" => "Password"}
				%a.button{:href => "#"} Sign Up
		.row
			%h4
				Already have an account? Login here.


