- content_for :title do
  Dashboard

= stylesheet_link_tag 'student/student_account'
= stylesheet_link_tag 'student/student_dashboard'
= javascript_include_tag 'angular/student/shared/resources/resume'
= javascript_include_tag 'angular/student/shared/resources/review'
= javascript_include_tag 'angular/student/student_dashboard/studentDashboardApp'
= javascript_include_tag 'angular/student/student_dashboard/studentDashboardControllers'
%div{ 'ng-app' => 'studentDashboardApp' }
  %div{ 'ng-view' => '' }
