- content_for :title do
  Student

= stylesheet_link_tag 'student/company_profile'
= stylesheet_link_tag 'student/company_search'
= stylesheet_link_tag 'student/student_dashboard'

= javascript_include_tag 'angular/shared/directives/sharedDirectives'

/ = javascript_include_tag 'angular/student/controllers/companyProfileControllers'
/ = javascript_include_tag 'angular/student/controllers/studentDashboardControllers'

/ = javascript_include_tag 'angular/student/resources/resume'
/ = javascript_include_tag 'angular/student/resources/review'
/ = javascript_include_tag 'angular/student/resources/account'
/ = javascript_include_tag 'angular/student/resources/companies'
/ = javascript_include_tag 'angular/student/resources/review'

= javascript_include_tag 'angular/student/studentApp'

%div.app-wrapper{ 'ng-app' => 'studentApp' }
  %div.app-view{ 'ng-view' => '' }
