- content_for :title do
  Student

= stylesheet_link_tag 'student/company_profile'
= stylesheet_link_tag 'student/company_search'
= stylesheet_link_tag 'student/student_dashboard'

= javascript_include_tag 'angular/shared/directives/sharedDirectives'
= javascript_include_tag 'angular/student/studentApp'

%div.app-wrapper{ 'ng-app' => 'studentApp' }
  %div.app-view{ 'ng-view' => '' }
