- content_for :title do
  Companies

= stylesheet_link_tag 'student/student_account'
= stylesheet_link_tag 'student/company_profile'
= stylesheet_link_tag 'student/company_search'
= javascript_include_tag 'vendor/modernizr'
= javascript_include_tag 'jquery.stellar.min'
= javascript_include_tag 'parallax'
= javascript_include_tag 'angular/student/shared/directives/sharedDirectives'
= javascript_include_tag 'angular/student/shared/resources/companies'
= javascript_include_tag 'angular/student/shared/resources/review'
= javascript_include_tag 'angular/student/company_profile/companyProfileApp'
= javascript_include_tag 'angular/student/company_profile/companyProfileControllers'

%div.app-wrapper{ 'ng-app' => 'companyProfileApp'}
  %div.app-view{ 'ng-view' => ''}
