!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = render partial: "student/shared/open_graph"
    %title= content_for?(:title) ? yield(:title): "pinpeg"
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'angucomplete'
    = javascript_include_tag 'angular.min' # OPTIMIZE put all of these in one
    = javascript_include_tag 'angular-resource.min'
    = javascript_include_tag 'angular-route.min'
    = javascript_include_tag 'angucomplete'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = render partial: "student/shared/header"
    = yield
    = render partial: "student/shared/footer"
