!!!
%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ :property => "og:title", :content => "Review your internship" }
    %meta{ :property => "og:site_name", :content => "pinpeg" }
    %title pinpeg
    / = javascript_include_tag 'vendor/modernizr'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'student/company_base'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    %link{href: "http://fonts.googleapis.com/css?family=Josefin+Sans", rel: "stylesheet", type: "text/css"}

  %body
    = render partial: "student/shared/header"
    .container
      %div.app-wrapper
        = yield
      = render partial: "student/shared/footer"
