!!!
%html{lang: "en"}
  %head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      pinpeg
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags

  .contain-to-grid.sticky
    %nav.top-bar{"data-options" => "sticky_on: large", "data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{href: "/home/index"} pinpeg
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.right
          / %li
          /   %a{href: "/about_us"} About Us
          %li
            %a{href: "/company"} For Companies
          %li
            %a{href: "/student/account/login"} Login
  %body{"data-stellar-background-ratio" => "0.5"}
    = yield
    = javascript_include_tag "application"
    .footer.home
      .row
        .medium-6.columns
          %h4.footerLabel
            2014 PINPEG
          %ul.small-block-grid-1
            / %li
            /   %a{href: "/about_us"} About Us
            %li
              %a{href: "/student"} For Students
            %li
              %a{href: "/company"} For Companies
            %li
              %a{href: "/partners"} Partners
            %li
              %a{href: "/privacy"} Privacy Policy
        .medium-3.columns
          %a.footerLabel.text-right{ 'href' => '/contact' }
            Contact Us
      .row
        .medium-12.columns.text-right
          .heart-text.text-right
            Made with
            .heart.fs1{"aria-hidden" => "true", "data-icon" => "\"}

    = render partial: "shared/google_analytics"
