!!!
%html{lang: "en"}
  %head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title 
      pinpeg
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'student/student_account'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
  %link{href: "http://fonts.googleapis.com/css?family=Josefin+Sans", rel: "stylesheet", type: "text/css"}

  .contain-to-grid.sticky
    %nav.top-bar{"data-options" => "sticky_on: large", "data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{href: "/"} pinpeg
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.right
          %li
            %a{href: "#"} How It Works
          %li
            %a{href: "#"} Company Reviews
          %li
            - if student_account_signed_in?
              = link_to('Logout', destroy_student_account_session_path)
            - else
              = link_to('Login', new_student_account_session_path)

  %body
    = yield
    = javascript_include_tag "application"
    .footer
      .row
        .medium-6.columns
          %h4.footerLabel
            2014 pinpeg, All Rights Reserved.
          %ul.small-block-grid-1 
            %li
              %a{href: "/about_us"} About Us
            %li
              %a{href: "#"} For Students
            %li
              %a{href: "#"} For Companies
            %li
              %a{href: "#"} Terms of Use
            %li
              %a{href: "#"} Privacy Policy
        .medium-3.columns
          %h4.footerLabel
            Contact Us
          %ul.small-block-grid-4
            %li.footer
              = image_tag('twitter3.png', class: "social")
            %li.footer
              = image_tag('facebook3.png', class: "social")
            %li.footer
              = image_tag('linkedin.png', class: "social")
            %li.footer
              = image_tag('google+.png', class: "social")